.Diagral_eOne_widget hr {
    border-top: 1px solid;
    margin : 10px 0px 10px 0px;
}

.Diagral_eOne_widget .container-fluid {
    margin-top: 20px;
}

.Diagral_eOne_widget #groups {
    margin-top: 10px;
}

.Diagral_eOne_widget #actions {
    margin-top: 20px;
}

.Diagral_eOne_widget #scenarios {
    margin-top: 20px;
}

.Diagral_eOne_widget #actions .btn-group {
    padding-right: 0px;
}

.Diagral_eOne_widget #actions .partial_arm,.partial_disarm {
    padding-left: 0px;
    margin-top: 10px;
}

.Diagral_eOne_widget #actions i.fa-black {
    color: black;
}

.Diagral_eOne_widget .widget-name {
    line-height: 20px;
}