<div id="Diagral_eOne_WidgetID" class="eqLogic eqLogic-widget noResize Diagral_eOne_widget Diagral_eOne cmd cmd-widget" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-version="#version#" style="text-align:center; width: 300px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;height:280px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" template='#template#'>
    <link rel="stylesheet" href="plugins/Diagral_eOne/core/template/dashboard/css/style4-0.css" />
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id" style="margin-top: 2px;margin-right: 2px;" onclick="jeedom.cmd.execute({id: #refresh_id#});">
		<i class="fa fa-sync"></i>
	</span>
    <center class="widget-name">
		<span class="reportModeVisible state" style="font-size : 1.2em;display:none;">#name_display#</span>
		<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.2em;#hideEqLogicName#">#name_display#</a>
    </center>
    <div id="updates" style="display: none;">
        <span><b>#updates_available#</b> mise à jour disponible(s)</span>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <span class="state">
                    <i class="fa-5x iconCmd#mode_id#"></i>
                </span>
            </div>
        </div>
        <div class="row" id="groups">
            <div class="col-12">
                <table class="table" id="groupsTable">
                </table>
            </div>
        </div>
        <hr>
        <span class="cmd label cmdName">Actions</span>
        <div class="row" id="actions">
            <div class="btn-group" role="group">
                    <button class="btn cmd action oundedLeft" data-cmd_id="#total_arm_id#" title="Armement Total" onclick="jeedom.cmd.execute({id: #total_arm_id#});"><i class="fa-black fa fa-lock"></i></button>
                    <button class="btn cmd action" data-cmd_id="#total_disarm_id#" title="Désarmement Total" onclick="jeedom.cmd.execute({id: #total_disarm_id#});"><i class="fa-black fa fa-unlock"></i></button>
                    <button class="btn cmd action roundedRight" data-cmd_id="#arm_presence_id#" title="Mode Presence" onclick="jeedom.cmd.execute({id: #arm_presence_id#});"><i class="fa-black fa fa-home"></i></button>
            </div>
            <div class="cmd cmd-widget reportModeHidden partial_arm col-12" data-type="action" data-subtype="select" data-cmd_id="#arm_partial_id#" data-cmd_uid="cmd#arm_partial_id#partial" data-version="#version#" data-eqLogic_id="#arm_partial_id#">
                <select class="selectCmd action form-control form-control-lg" title="Activation Partielle">#arm_partial_listValue#</select>
                <script>
                        $(".cmd[data-cmd_uid=cmd#arm_partial_id#partial] .selectCmd").on('change', function () {
                            if ($(this).value() != "") {
                                jeedom.cmd.execute({id: '#arm_partial_id#', value: {select: $(this).value()}});
                            }
                        });
                </script>
            </div>
            <div class="cmd cmd-widget reportModeHidden partial_disarm col-12" data-type="action" data-subtype="select" data-cmd_id="#disarm_partial_id#" data-cmd_uid="cmd#disarm_partial_id#partial" data-version="#version#" data-eqLogic_id="#disarm_partial_id#">
                <select class="selectCmd action form-control form-control-lg" title="Desactivation Partielle">#disarm_partial_listValue#</select>
                <script>
                        $(".cmd[data-cmd_uid=cmd#disarm_partial_id#partial] .selectCmd").on('change', function () {
                            if ($(this).value() != "") {
                                jeedom.cmd.execute({id: '#disarm_partial_id#', value: {select: $(this).value()}});
                            }
                        });
                </script>
            </div>
        </div>
        <div id="globalScenario" style="display: none;">
            <hr>
            <span class="cmd label cmdName">Scenarios</span>
            <div class="row" id="scenarios">
                <div class="cmd cmd-widget reportModeHidden launch_scenario col-12" data-type="action" data-subtype="select" data-cmd_id="#launch_scenario_id#" data-cmd_uid="cmd#launch_scenario_id#Scenario" data-version="#version#" data-eqLogic_id="#launch_scenario_id#">
                    <select class="selectCmd form-control form-control-lg" id="cmd#launch_scenario_id#Scenario" title="Scenarios">#launch_scenario_listValue#</select>
                    <script>
                            $(".cmd[data-cmd_uid=cmd#launch_scenario_id#Scenario] .selectCmd").on('change', function () {
                                jeedom.cmd.execute({id: '#launch_scenario_id#', value: {select: $(this).value()}});
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        var default_widget_height = 280;
        // FA for Mode
        jeedom.cmd.addUpdateFunction('#mode_id#', function(_options) {
            // Force widget height with default value
            $('.Diagral_eOne_widget').css('height', default_widget_height);
            // Define widget_height with actual widget height
            var widget_height = $('.Diagral_eOne_widget').height();
            switch(_options.display_value) {
                case 'off':
                    $('.iconCmd#mode_id#').addClass('fas fa-unlock');
                    break;
                case 'presence':
                    $('.iconCmd#mode_id#').addClass('fas fa-cloud-moon');
                    break;
                case 'group':
                    $('.iconCmd#mode_id#').addClass('fas fa-lock');
                    break;
                case 'tempogroup':
                    $('.iconCmd#mode_id#').addClass('fa fa-stopwatch');
                    break;
                case 'alarm':
                    $('.iconCmd#mode_id#').addClass('fas fa-bullhorn');
                    break;
                default:
                    $('.iconCmd#mode_id#').addClass('fas fa-spinner fa-spin');
                    break;
            }

            // FA for Groups
            if (_options.display_value == 'off') {
                $( "#groups" ).hide();
            } else {
                // Retrieve actual widget height
                widget_height = $('.Diagral_eOne_widget').height();
                // Add some pixels to widget height for Groups showing
                $('.Diagral_eOne_widget').css('height', widget_height + 100);
                $.getJSON("/plugins/Diagral_eOne/data/groups_#systemID#.json", function(groups_JSON) {
                    $.each(groups_JSON.groups, function (key, val) {
                        var test = "#groups_enable#"
                        var icon = "";
                        if (test != "") {
                            if (test.includes(val.groupName)) {
                                icon = "<i class='fa fa-lock' style='color: red;'></i>";
                            } else {
                                icon = "<i class='fa fa-unlock' style='color: green;'></i>";
                            }
                        }
                        $('<tr class="row text-center">').append(
                            $('<td class="col-10 text-left">').text(val.groupName),
                            $('<td class="col-2">').html(icon),
                        ).appendTo("#groupsTable");                    
                    });
                });
            }

            // Show Scenario when exist
            // First real option need to have text to be considere as valid
            if ( $('#cmd#launch_scenario_id#Scenario option').eq(1).text() != "" && '#launch_scenario_visible#' == '1') {
                $( "#globalScenario" ).show();
                // Retrieve actual widget height
                widget_height = $('.Diagral_eOne_widget').height();
                // Add some pixels to widget height for Scenarios showing
                $('.Diagral_eOne_widget').css('height', widget_height + 80);
            }
        });
        jeedom.cmd.refreshValue([{cmd_id :'#mode_id#',display_value: '#mode#', valueDate: '#mode_valueDate#', collectDate: '#mode_collectDate#', alertLevel: '#mode_alertLevel#', unit: '#mode_unite#'}]);


        jeedom.cmd.addUpdateFunction('#updates_available_id#', function(_options) {
            // Define (not same function) and Retrieve actual widget height
            var widget_height = $('.Diagral_eOne_widget').height();
            if (_options.display_value > '0') {
                $('#updates').show();
                // Add some pixels to widget height for updates showing
                $('.Diagral_eOne_widget').css('height', widget_height + 20);
            }
        });
        jeedom.cmd.refreshValue([{cmd_id :'#updates_available_id#',display_value: '#updates_available#', valueDate: '#updates_available_valueDate#', collectDate: '#updates_available_collectDate#', alertLevel: '#updates_available_alertLevel#', unit: '#updates_available_unite#'}]);
        
    </script>
</div>