<div class="eqLogic eqLogic-widget noResize Diagral_eOne_widget Diagral_eOne cmd cmd-widget" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-version="#version#" style="text-align:center; width: 300px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;height:500px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" template='#template#'>
    <link rel="stylesheet" href="plugins/Diagral_eOne/core/template/dashboard/css/style3.css" />
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id" style="margin-top: 2px;margin-right: 2px;" onclick="jeedom.cmd.execute({id: #refresh_id#});">
		<i class="fa fa-sync"></i>
	</span>
    <center class="widget-name">
		<span class="reportModeVisible state" style="font-size : 1.2em;display:none;">#name_display#</span>
		<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.2em;#hideEqLogicName#">#name_display#</a>
    </center>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <span class="state fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa-stack-1x iconCmd#status_id# cmd cmd-widget"></i>
                </span>
            </div>
        </div>
        <div class="row" id="groups">
            <div class="col-12">
                <table class="table" id="groupsTable">
                </table>
            </div>
        </div>
        <hr>
        <span style='font-weight: bold;font-size : 12px;'>Actions</span>
        <div class="row" id="actions">
            <div class="col-xs-5 btn-group" role="group">
                    <button class="btn cmd action oundedLeft" data-cmd_id="#total_arm_id#" title="Armement Total" onclick="jeedom.cmd.execute({id: #total_arm_id#});"><i class="fa-black fa fa-lock"></i></button>
                    <button class="btn cmd action" data-cmd_id="#total_disarm_id#" title="Désarmement Total" onclick="jeedom.cmd.execute({id: #total_disarm_id#});"><i class="fa-black fa fa-unlock"></i></button>
                    <button class="btn cmd action roundedRight" data-cmd_id="#arm_presence_id#" title="Mode Presence" onclick="jeedom.cmd.execute({id: #arm_presence_id#});"><i class="fa-black fa fa-home"></i></button>
            </div>
            <div class="cmd cmd-widget reportModeHidden partial_arm col-xs-7" data-type="action" data-subtype="select" data-cmd_id="#arm_partial_id#" data-cmd_uid="cmd#arm_partial_id#partial" data-version="#version#" data-eqLogic_id="#arm_partial_id#">
                <select class="selectCmd action form-control form-control-lg" title="Activation Partielle">#arm_partial_listValue#</select>
                <script>
                        $(".cmd[data-cmd_uid=cmd#arm_partial_id#partial] .selectCmd").on('change', function () {
                            if ($(this).value() != "") {
                                jeedom.cmd.execute({id: '#arm_partial_id#', value: {select: $(this).value()}});
                            }
                        });
                </script>
            </div>
        </div>
        <hr>
        <span style='font-weight: bold;font-size : 12px;'>Scenarios</span>
        <div class="row" id="scenarios">
            <div class="cmd cmd-widget reportModeHidden launch_scenario col-xs-12" data-type="action" data-subtype="select" data-cmd_id="#launch_scenario_id#" data-cmd_uid="cmd#launch_scenario_id#Scenario" data-version="#version#" data-eqLogic_id="#launch_scenario_id#">
                <select class="selectCmd form-control form-control-lg" title="Scenarios">#launch_scenario_listValue#</select>
                <script>
                        $(".cmd[data-cmd_uid=cmd#launch_scenario_id#Scenario] .selectCmd").on('change', function () {
                            jeedom.cmd.execute({id: '#launch_scenario_id#', value: {select: $(this).value()}});
                        });
                </script>
            </div>
        </div>
    </div>

    
    <script>
        
        jeedom.cmd.update['#status_id#'] = function(_options) {
            // FA for Status
            switch('#status#') {
                case 'off':
                    $('.iconCmd#status_id#').addClass('fa fa-unlock');
                    break;
                case 'presence':
                case 'group':
                    $('.iconCmd#status_id#').addClass('fa fa-lock');
                    break;
                case 'tempogroup':
                    $('.iconCmd#status_id#').addClass('fa fa-clock');
                    break;
                default:
                    $('.iconCmd#status_id#').addClass('fas fa-spinner fa-spin');
                    break;
            }

            // FA for Groups
            if ('#status#' == 'off') {
                $( "#groups" ).hide();
                $('.Diagral_eOne_widget').css('height', '380px');
            } else {
                $('.Diagral_eOne_widget').css('height', '480px');
                $.getJSON("/plugins/Diagral_eOne/core/config/groups_#systemID#.json", function(groups_JSON) {
                    $.each(groups_JSON.groups, function (key, val) {
                        var test = "#groups_enable#"
                        var icon = "";
                        if (test != "") {
                            if (test.includes(val.groupName)) {
                                icon = "<i class='fa fa-lock'></i>";
                            } else {
                                icon = "<i class='fa fa-unlock'></i>";
                            }
                        }
                        $('<tr class="row text-center">').append(
                            $('<td class="col-10 text-left">').text(val.groupName),
                            $('<td class="col-2">').html(icon),
                        ).appendTo("#groupsTable");                    
                    });
                });
            }
        }
        jeedom.cmd.update['#status_id#']({display_value:'#status#'});

        
    </script>
</div>